<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
    </Console>
    <TextAreaAppender name="TextArea">
      <PatternLayout pattern="[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
    </TextAreaAppender>
  </Appenders>
  <Loggers>
    <Logger name="StreamingServer" level="ALL" additivity="false">
      <AppenderRef ref="TextArea" />
    </Logger>
    <Logger name="StreamingServerController" level="ALL" additivity="false">
      <AppenderRef ref="TextArea" />
    </Logger>
    <Logger name="StreamingServerService" level="ALL" additivity="false">
      <AppenderRef ref="TextArea" />
    </Logger>
    <Logger name="tasks.GenerateVideosTask" level="ALL" additivity="false">
      <AppenderRef ref="TextArea" />
    </Logger>
    <Logger name="tasks.StartServerTask" level="ALL" additivity="false">
      <AppenderRef ref="TextArea" />
    </Logger>
    <Root level="OFF" additivity="true">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>
