<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
    </Console>
    <File name="file" fileName="logs/client.log">
      <PatternLayout pattern="[%level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
    </File>
  </Appenders>
  <Loggers>
    <Logger name="StreamingClient" level="ALL" additivity="false">
      <AppenderRef ref="file" />
    </Logger>
    <Logger name="StreamingClientController" level="ALL" additivity="false">
      <AppenderRef ref="file" />
    </Logger>
    <Logger name="StreamingClientService" level="ALL" additivity="false">
      <AppenderRef ref="file" />
    </Logger>
    <Logger name="tasks.GetVideosTask" level="ALL" additivity="false">
      <AppenderRef ref="file" />
    </Logger>
    <Logger name="tasks.WatchStreamTask" level="ALL" additivity="false">
      <AppenderRef ref="file" />
    </Logger>
    <Logger name="listeners.SpeedTestListener" level="ALL" additivity="false">
      <AppenderRef ref="file" />
    </Logger>
    <Root level="OFF" additivity="true">
      <AppenderRef ref="console" />
    </Root>
  </Loggers>
</Configuration>
